body{
	background: ghostwhite;
	color: ghostwhite;
}

h1{
	color: crimson;
	text-shadow:0 0 2px ;
	font-family: times new roman, arial;
}

h2{
	color: black;
	text-shadow:0 0 2px gray;
	font-family: times new roman, arial;
}

h3{
	color: black;
	text-shadow:0 0 2px gray;
	font-family: times new roman, arial;
}

p{
	color: black;
	text-shadow:0 0 2px gray;
	font-family: times new roman, arial;
}

a:visited{
	color: crimson;
}